@import "tailwindcss";

:root {
  --background: #02060A;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
}

body {
  background: var(--background);
  color: var(--foreground);
}
