@import 'tailwindcss';

:root {
  /* Background colors */
  --primary-background: #02060a;
  --secondary-background: #0D1926;
  --tertiary-background: #19334C;

  /* Border colors */
  --primary-border: #1A334D;

  /* Font colors */
  --primary-font: #fff;
  --secondary-font: #b3cce5;

  /* Additional colors */
  --contrast: #2a8cee;
}

@theme inline {
  /* Background colors */
  --color-primary-background: var(--primary-background);
  --color-secondary-background: var(--secondary-background);
  --color-tertiary-background: var(--tertiary-background);

  /* Border colors */
  --color-primary-border: var(--primary-border);

  /* Font colors */
  --color-primary-font: var(--primary-font);
  --color-secondary-font: var(--secondary-font);

  /* Additional colors */
  --color-contrast: var(--contrast);
}

body {
  background: var(--primary-background);
  color: var(--primary-font);
  padding-inline: 120px;
}
